@inherits LayoutComponentBase
@inject HttpClient Http

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (user != null)
            {
                <span>@user.ClientPrincipal?.UserDetails</span>
                <a href="/.auth/logout">Logout</a>
            }
            else
            {
                <p><a href="/.auth/login">Login</a></p>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private UserInfo? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await Http.GetFromJsonAsync<UserInfo>("/.auth/me");
        }
        catch
        {
            user = null;
        }
    }
}